@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* color variables */
$black: #010101;
$nero: #1c1c1c;
$charcoal: #4a4a4a;
$dim-grey: #6d6d6d;
$gainsboro: #e6e6e6;

/* font variables */
$primary-font-color: $gainsboro;

$main-header-font: "Montserrat", sans-serif;
$main-text-font: "Lato", sans-serif;

$bold: 700;
$regular: 500;
$light: 300;

$default-header-size: 2.5vw;
$smaller-header-size: 2vw;
$default-text-size: 1.6vw;
